"""
Provides install path infomation.
"""
import os
from esys.lsm.util.pathSearcher import PathSearcher

installDir   = "{0:s}"
binDir       = os.path.join(installDir, "bin")
libDir       = os.path.join(installDir, "lib")

pythonPkgDir = "{1:s}"
esysPkgDir   = os.path.join(pythonPkgDir, "esys")
lsmPkgDir    = os.path.join(esysPkgDir, "lsm")

pkgName      = "{2:s}"
version      = "{3:s}"
pkgHomePageUrl = "{4:s}"
pkgDataDir   = "{5:s}"
povrayExe    = "{6:s}"

_haveVtk     = {7:s}
_havePovray  = {8:s}

def getPovrayExePath():
    """
    Attempts to return the absolute path of the "povray" executable
    using the "PATH" environment variable. If the exe can't be found
    on the "PATH" then this function returns the "povray" path which
    was found during installation. This function is a workaround for
    for the SGI MPT mpirun, which seems to alter the user "PATH"
    environment.
    """
    absPath=PathSearcher().find("povray")
    if ((absPath == None) or (absPath == "")):
        absPath = povrayExe

    return absPath

def getDataFilePath(dataFileName):
    """
    Returns path for specified data file. Looks on path
    C{{L{{pkgDataDir}}:Data:.}}
    """
    return PathSearcher(pkgDataDir+":Data:.").which(dataFileName)

def haveVtk():
    return _haveVtk

def havePovray():
    return _havePovray
